.typing-animation {
  animation: typing 3s steps(20, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 4px solid #F08A5D;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
